* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Commond */
.container {
    width: 117rem;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 14.9rem;
    height: 5.8rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 0.8rem;
    background: #7264d6;
}

.btn:hover {
    opacity: 0.9;
}

.fixed {
    position: sticky;
    z-index: 1;
    top: -3.4rem;
    padding-bottom: 0.8rem;
    background-color: #fff;
}

.heading-section {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

/* ========== Navbar ========== */
.header {
    padding-top: 4.2rem;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.navbar__list {
    display: flex;
    align-items: center;
    margin-left: 7.3rem;
}

.navbar__link {
    position: relative;
    color: #696d76;
    padding: 1.2rem 2.3rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.navbar__link:hover {
    color: #212832;
    text-shadow: 0 0 1px currentColor;
}

.navbar__link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 2.3rem;
    display: block;
    width: calc(100% - 4.6rem);
    height: 0.1rem;
    border-radius: 0.05rem;
    background: #7264d6;
}

.navbar__btn {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar__log {
    display: inline-block;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    padding: 1.2rem 2.8rem;
}

.navbar__log:hover {
    text-decoration: underline;
}

.navbar__sign {
    min-width: 11.3rem;
    height: 5.2rem;
    color: #fff;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 0.6rem;
    background: #212832;

    transition-property: background-color, color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.navbar__sign:hover {
    opacity: 0.9;
}

/* ========== Hero ========== */
.hero {
    padding-top: 7.6rem;
    padding-bottom: 3rem;
}

.hero-body {
    display: flex;
    column-gap: 16rem;
}

.hero-content {
    width: 47%;
}

.intro-section {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.intro-section__decor {
    display: inline-block;
    width: 1.8rem;
    height: 0.2rem;
    background: #696d77;
}

.intro-section__text {
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.hero-content__heading {
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
    margin-top: 1.2rem;
}

.hero-content__heading--highlight {
    color: #7264d6;
}

.hero-content__desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    margin-top: 2rem;
}

.hero-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.4rem;
    margin-top: 4rem;
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-item__text {
    width: 100%;
    height: 100%;
    color: #696d76;
    font-size: 1.6rem;
    padding: 0 2.3rem;
    border: none;
    outline: none;
}

.hero-content__text::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.hero-item__cta {
    --height: 5.8rem;

    display: inline-block;
    text-align: center;
    line-height: var(--height);
    margin-right: 0.8rem;
}

.hero-content__text {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    margin-top: 2rem;
}

.hero-media {
    position: relative;
}

.hero-deposite {
    position: absolute;
    top: 11.3rem;
    left: -10rem;
    display: flex;
    align-items: center;
    width: 17.4rem;
    border-radius: 0.6rem;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    padding: 1.4rem 1rem;
}

.hero-deposite__title {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 0.8rem;
}

.hero-deposite__price {
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    margin-left: 1.9rem;
}

.hero-secured {
    position: absolute;
    bottom: 6.1rem;
    right: -7.4rem;
    display: flex;
    column-gap: 1.1rem;
    min-width: 12.4rem;
    border-radius: 1rem;
    background: #439f90;
    padding: 2rem 1.4rem;
}

.hero-secured__price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-secured__desc {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 0.5rem;
}

.hero-interest {
    position: absolute;
    top: 12.7rem;
    right: -16.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 13rem;
    height: 13rem;
    background-color: #da6464;
    border-radius: 50%;
}

.hero-interest__percent {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-interest__text {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 0.6rem;
}

/* ========== Works ========== */
.works {
    padding-top: 13rem;
    padding-bottom: 3rem;
}

.works-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works-media {
    position: relative;
    width: 40%;
    height: 61.9rem;
}

.works-media__bgr {
    position: absolute;
    bottom: 0;
}

.works-media__img {
    width: 45.6rem;
    height: 61.9rem;
    position: absolute;
    bottom: 0;
    left: 0.7rem;
    right: 0.7rem;
    object-fit: cover;
}

.works-media__card {
    position: absolute;
    top: 7.6rem;
    right: 5.5rem;
}

.works-media__block {
    position: absolute;
    bottom: 9.6rem;
    right: -10rem;
    display: flex;
    align-items: center;
    width: 22.6rem;
    padding: 1.5rem;
    border-radius: 0.8rem;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.works-media__info {
    font-family: "Inter", sans-serif;
    margin-left: 1rem;
}

.works-media__title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
}

.works-media__text {
    color: #696d76;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.works-info {
    width: 40%;
}

.works__heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 1.2rem;
    margin-bottom: 7rem;
}

.works-inner + .works-inner {
    margin-top: 3rem;
}

.works-inner__heading {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.works-inner__desc {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 1.6rem;
}

/* ========== Card ========== */
.card {
    padding-top: 13rem;
    padding-bottom: 3rem;
}

.card-body {
    display: flex;
    align-items: center;
    column-gap: 13rem;
}

.card-info {
    width: 40%;
}

.card__heading {
    margin-top: 1.2rem;
}

.card__desc {
    color: #696d76;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.card-list {
    margin-top: 2.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
}

.card-item {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.card-item__dot {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: #7264d6;
    border-radius: 50%;
}

.card-item__text {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.card-cta {
    --height: 5.8rem;

    display: inline-block;
    min-width: 14.9rem;
    height: var(--height);
    color: #fff;
    margin-top: 3.8rem;
    border-radius: 0.8rem;
    background: #212832;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--height);
}

.card-media {
    position: relative;
    width: 49%;
    height: 42.5rem;
}

.card-media__main {
    position: absolute;
    top: 4.8rem;
    right: 8.8rem;
    bottom: 5.5rem;
    left: 0;
}

.card-money {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 27.6rem;
    padding: 2.3rem 1.3rem;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.card-media__plane {
    width: 4rem;
    height: 4rem;
}

.card-money__block {
    font-family: "Inter", sans-serif;
    margin-left: 1.4rem;
}

.card-money__title {
    color: #212832;
    font-size: 1.2rem;
    font-weight: 500;
}

.card-money__desc {
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.4rem;
}

.card-money__price {
    font-family: "Inter", sans-serif;
    margin-left: auto;
}

.card-money__saving {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 400;
}

.card-money__month {
    color: #696d76;
    margin-top: 0.3rem;
    font-size: 1rem;
    font-weight: 400;
}

.card-income {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12rem;
    height: 12rem;
    padding: 1.5rem;
    border-radius: 1.6rem;
    background: #439f90;
}

.card-income__title {
    margin-top: 1.4rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.card-income__meney {
    display: inline-block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 0.6rem;
}
